<!DOCTYPE html>
<html lang="ru" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">
    <title>title</title><script src="https://unpkg.com/htmx.org"></script>
<script src="https://unpkg.com/imask"></script>
<script src="https://telegram.org/js/telegram-web-app.js?56"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css?asdqwe">
  </head>
  <body class="text-base">
    <header class="flex justify-center p-4">
      <div class="size-xxl bg-red-300"><img src="https://placehold.co/320x320.png" alt="logo"></div>
    </header>
    <main id="main">
      <div class="container flex justify-center p-3">
        <div class="main-card p-3 rounded-xl w-full">
          <div class="text-center mb-4"><span>Страница Правила</span></div>
        </div>
      </div>
    </main>
    <footer class="btm-nav w-full fixed bottom-0 left-0 z-10 mb-3"><a class="nav-link active" href="./" hx-get="./" hx-target="#main" hx-push-url="true" hx-select="#main &gt; *">
        <svg class="icon size-s">
          <use href="./img/svg/sprite.svg#baht" xlink:href="./img/svg/sprite.svg#baht"></use>
        </svg><span class="btm-nav-label">Обменять</span></a><a class="nav-link" href="./info.html" hx-get="./info.html" hx-target="#main" hx-push-url="true" hx-select="#main &gt; *">
        <svg class="icon size-s">
          <use href="./img/svg/sprite.svg#info" xlink:href="./img/svg/sprite.svg#info"></use>
        </svg><span class="btm-nav-label">Правила</span></a><a class="nav-link" href="./question.html" hx-get="./question.html" hx-target="#main" hx-push-url="true" hx-select="#main &gt; *">
        <svg class="icon size-s">
          <use href="./img/svg/sprite.svg#question" xlink:href="./img/svg/sprite.svg#question"></use>
        </svg><span class="btm-nav-label">ЧаВо</span></a></footer>
    <script src="js/common.js"></script>
  </body>
</html>